<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register deg</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
</head>
<body>
     <div class='wrapper'>
        <div class='container'>
            <h1>Registrer deg</h1>
            <form action="" class= 'registrering'>
            <p>Fullt navn:</p>
            <input type="text" class= 'navn' placeholder= 'Skriv inn navnet ditt...' required>
            <p>E-post:</p>
            <input type="text" class= 'mail' placeholder= 'Skriv inn e-post...' required>
            <p>Passord:</p>
            <input type="text" class='passord' placeholder= 'Lag en passord...' required>
            <button class='btn'>Registrer deg</button>
            </form>
        </div>
    </div>
</body>
</html>