<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketSystem</title>
    <link rel="stylesheet" href="../static/css/tickets.css">
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    <script src='../static/js/script.js'></script>
</head>
<body>
    <div class='container'>
        <button class='btn' onclick='TicketForm()'>Ny ticket...</button>
        <table>
            <tr>
                <th>Ticket ID</th>
                <th>Tittel</th>
                <th>Kategori</th>
                <th>Status</th>
        <div class="tickets-list">
        {% if tickets %}
            {% include 'ticket_rows.html' %}
        {% endif %}
            </tr>
         
</div>

        </table>
    </div>

    <div id='ticket-form'>
        <div class='container2'>
            <h1>Lag en ny ticket</h1>
            <form action="/opprett_ticket" method='POST'  class= 'ticket'>
            <p>Overskrift:</p>
            <input type="text" class= 'navn' name='overskrift' placeholder= 'Skriv inn problemet ditt...' required>
            <p>Beksrivelse:</p>
            <input type="text" name='beskrivelse' class= 'mail' placeholder= 'Beskriv hva som skjedde...' required>

            <label for="kategori">Vennligst velg kategorien</label>
            <select id="kategorier" name="kategori">
            <option value="x">PC feil</option>
            <option value="x">Alvorlig virus</option>
            </select>

            <label for="status">Vennligst velg statusen</label>
            <select id="statusen" name="status">
            <option value="x">Åpen</option>
            <option value="x">Stengt</option>
            </select>
            
            <button class='btn2'>Lagre</button>
            </form>
        </div>
    </div>
</body>
</html>